<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script>
        const title = document.title;
        const windowHeight = window.innerHeight;
        const windowWidth = window.innerWidth;
        const url = document.URL;
        const cookies = document.cookie;

        console.log(title);
        console.log(windowHeight);
        console.log(windowWidth);
        console.log(url);
        console.log(cookies);

    </script>

</body>
</html>
