<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
</head>
<body>
<h1 id="m"></h1>
<script>
    let xhr = new XMLHttpRequest();
    xhr.open("GET", "/static/message.json");
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                console.log("Jetzt");
                $('#m').text(JSON.parse(xhr.responseText).message);
            } else {
                $('#m').text("Fehler");
                console.error(xhr.statusText);
            }
        }
    };
    xhr.send();
    setInterval(() => {
        xhr.open("GET", "/static/message.json");
        xhr.send();
    }, 3000);
</script>
</body>
</html>
