<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<script type="module">
    console.log("Hello");

    let socket = new WebSocket('ws://localhost:8080/demo-1');

    socket.onopen = (event) => {
        console.log('Connection established');
        console.log(event);
    };
    socket.onclose = (closeEvent) => {
        console.log(
            'Connection closed' +
            ': code=', closeEvent.code,
            '; reason=', closeEvent.reason);
    };
    socket.onmessage = (msgEvent) => {
        let data = JSON.parse(msgEvent.data);
        console.log('Message received', data);
    };
</script>

</body>
</html>
