<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
Nr2)
Recherche und Effizienzsteigerung. Entdecken Sie drei neue, für Sie sinnvolle
Features in der von Ihnen eingesetzten IDE. Benennen und beschreiben Sie jedes
Feature kurz. Beschreiben Sie, wie Sie dadurch Arbeitszeiten einsparen oder
Ergebnisse in höherer Qualität erzielen.

Lösung:
->
-diagrams -> Markiere mehrere Dokumente und gehe im Kontextmenü auf "Show Diagram".
             Dann generiert PHP ein UML-Klassendiagramm.
             Somit kann man die Abhängigkeiten schneller visualisieren und eventuelle Fehler erkennen.

-git      -> PHP-Storm bietet eine eingebaute Versionskontrolle an, mit git.
             Dadurch kann man die Qualität als auch die Effizienz massiv steigern.

-Code with me -> Plugin für die parallele Arbeit, am gleichem Project.



Nr3)
Browserunterstützung. In der Vorlesung haben wir erfahren, dass nicht alle
Webbrowser alle Features in JavaScript unterstützten. Recherchieren Sie die
Verbreitung von Webbrowsern:
a) Welcher wird am meisten auf Desktops und auf mobilen Geräten eingesetzt?
Chrome

b) Worauf achten Sie bei der Auswahl Ihrer Quelle?
Welche Version der Webbrowser unterstützen muss, damit der Script ohne Fehler läuft.

c) Welcher Webbrowser unterstützt welche Version von JavaScript?
Browser vendors don't implement specific versions, but specific features.
Almost every modern browser is still missing features from ES2017-ES2020

d) Für welche Webbrowser würden Sie Abalo umsetzen? Nennen Sie Ihre Top3 Webbrowser mit einer kurzen Begründung.
Chrome, Firefox und Safari, da dort das meiste Javascript unterstützt wird.


Nr4)
Javascript vs C++

->Gemeinsamkeiten
1. Binding at compile/run time (static/dynmaic)
2. Programmierparadigmen : funktional, oo, prozedural
3. Kommentare
4. syntax, größtenteils
5. Client side and Server side used
6.

->Unterschiede
1. dynamisch typisierte variablen
2. Hoisting -> Bei C++ wird kein Hoisting gemacht (by standard compiler settings)
3. c++ wird compiliert. javascript wird interpretiert, außer beim
   V8 engine, dort wird eine "Just in Time compilation" durchgeführt.
   Ähnlich zu einem Compiler, nur das der Maschinencode niergendwo zwischengespeichert wird.
   Nach dem Compilieren wird es sofort ausgeführt!
4. Funktionsparameter, zb kann man mehr parameter mitgeben als in der Funktions definitions angegeben wurden.
5. c++ is a mid level language, where javascript is a high level language
6.

-->

<!-- nr 5 -->
<script>
    'use strict'
    const data = {
        'produkte': [
            { name: 'Ritterburg', preis: 59.99, kategorie: 1, anzahl: 3 },
            { name: 'Gartenschlau 10m', preis: 6.50, kategorie: 2, anzahl: 5 },
            { name: 'Robomaster' ,preis: 199.99, kategorie: 1, anzahl: 2 },
            { name: 'Pool 250x400', preis: 250, kategorie: 2, anzahl: 8 },
            { name: 'Rasenmähroboter', preis: 380.95, kategorie: 2, anzahl: 4 },
            { name: 'Prinzessinnenschloss', preis: 59.99, kategorie: 1, anzahl: 5 }
        ],
        'kategorien': [
            { id: 1, name: 'Spielzeug' },
            { id: 2, name: 'Garten' }
        ]
    };

    /*a)  getMaxPreis, die als Parameter die Daten erhält und den Namen des ersten Produkts mit dem
          höchsten Preis zurückgibt. */
    function getMaxPreis(data){
        if(data.produkte.length > 0)
            return data.produkte.reduce((acc, item) => (item.preis > acc.preis) ? item : acc, data.produkte[0]).preis;
        else
            return undefined
    }
    console.log(getMaxPreis(data));

    /*b)  getMinPreisProdukt, die als Parameter die Daten erhält und die vollständigen
          Produktdaten (das Objekt) des ersten Produkts mit dem niedrigsten Preis
          zurückgibt. */

    function getMinPreisProdukt(data){
        if(data.produkte.length > 0)
            return data.produkte.reduce((acc, item) => (item.preis < acc.preis) ? item : acc, data.produkte[0]);
        else
            return undefined
    }
    console.log(getMinPreisProdukt(data));

    /*c)  getPreisSum, die als Parameter die Daten erhält und die Gesamtsumme aller
          Produkte berechnet und zurückgibt. */

    function getPreisSum(data){
        if(data.produkte.length > 0)
            return data.produkte.reduce((acc,item) => acc+item.preis, 0);
        else
            return undefined
    }
    console.log(getPreisSum(data));

    /*d)  getGesamtWert, die als Parameter die Daten erhält und die den Gesamtwert
          aller Produkte berechnet und zurückgibt. Der Gesamtwert eines Produkts
          berechnet sich aus Preis * Anzahl. */

    function getGesamtWert(data){
        if(data.produkte.length > 0)
            return data.produkte.reduce((acc,item) => acc+(item.preis * item.anzahl), 0);
        else
            return undefined
    }
    console.log(getGesamtWert(data));

    /*e)  getAnzahlProdukteOfKategorie, die als Parameter die Daten sowie einen
          Kategorienamen erhält und die Gesamtanzahl aller Produkte
          dieser Kategorie berechnet und zurückgibt. */

    function getAnzahlProdukteOfKategorie(data, category){
        if(data.produkte.length > 0)
            return data.produkte.filter((item) => (item.kategorie === category)).length
        else
            return undefined
    }
    console.log(getAnzahlProdukteOfKategorie(data, 1));
</script>


<!-- Prak 3

nr 5)
• Set.prototype.* (wie intersection) – Mengenoperationen.
    ->V8 - ja
    ->SpiderMonkey - ja
    ->JavaScriptCore - ja

• Static Blocks in Klassen zur Initialisierung statischer Variablen. Beispiel:
class CL { static { /* … */ } }
    ->V8 - ja
    ->SpiderMonkey - ja
    ->JavaScriptCore - ja

• Array.prototype.flat(depth)
    ->V8 - ja
    ->SpiderMonkey - ja
    ->JavaScriptCore - ja

• Array.prototype.group zur Gruppierung von Elementen eines Arrays
    ->V8 - nein
    ->SpiderMonkey - nein
    ->JavaScriptCore - ja

• Neues Top-Level-Namespace Objekt “Temporal” als Weiterentwicklung von Date.
    ->V8 - nein
    ->SpiderMonkey - nein
    ->JavaScriptCore - nein

nr 6)
Google Calendar API
•	Was ist der Zweck der API? Welche Daten können z.B. ausgetauscht werden?
Mit der Google Calendar API kann man seinen Kalendar und anstehende Events managen. Es können u.a. Daten wie Kalendareinträge und Farbdefinitionen für Kalendar ausgetauscht werden

•	Welche REST-Prinzipien sind umgesetzt?

Clientserver, Zustandslos, Cache, Einheitliche Schnittstelle, Mehrschichtige Systeme
•	Auf welchem Level (nach dem Richardson Maturity Model) befindet sich die API?
Level 3

•	Wie ist eine Versionierung implementiert?
Im Pfad: https://www.googleapis.com/calendar/v3/calendars/calendarId

Twitter API
•	Was ist der Zweck der API? Welche Daten können z.B. ausgetauscht werden?
Die Twitter-API ermöglicht den programmgesteuerten Zugriff auf Twitter. Man kann folgende Kernelemente von Twitter wie Tweets, Direktnachrichten, Spaces, Listen, Benutzer und mehr verwenden.

•	Welche REST-Prinzipien sind umgesetzt?
Clientserver, Zustandslos, Cache, Einheitliche Schnittstelle, Mehrschichtige Systeme

•	Auf welchem Level (nach dem Richardson Maturity Model) befindet sich die API?
Level 2

•	Wie ist eine Versionierung implementiert?
Im Pfad: https://api.twitter.com/2/tweets/search/all


-->


<!-- Prak 4

nr1)
-code completion, highlighting
-debugging
-including,extracting components


nr3)
• Was war die Motivation für die Entwicklung von Vue?
    Der Entwickler Evan You hatte bei Google Creative Lab gearbeitet. Dort habe er mit vanilla Javascript angefangen dynamische prototypen zubauen.
    Um seine Arbeit effizienter zumachen hat er sich verschiedene Frameworks angeschaut (Backbone, Angular, ..), jedoch stellte er
    fest, das diese Frameworks nicht sein wirkliches Problem lösen und viele Vorgaben zum Code geben. Dann hat er die Idee bekommen ein
    eigenes Framework zuschreiben.

• Warum hat Evan You nicht Backbone verwendet?
    Weil Backbone keine dynamischen view interaktivität anbietet

• Laravel und Vue – aus welchen Gründen passt es für den Gründer von Laravel zusammen?
    Da man zusammen mit den beiden Frameworks fullstack entwickeln kann. Der Entwickler hat Vue.js in laravel spark adoptiert, wodurch laravel millionen von dollar eingenommen hat.

• Warum sind viele Entwickler:innen von Angular nach Vue gewechselt?
    Da der entwickler von laravel auf twitter gepostet hat, das er von angular auf vue gewechselt ist, da vue.js deutlich einfacher ist.


nr6)
• Was passiert, wenn sehr viele Benutzer:innen gleichzeitig die Lösung verwenden?
    -> Der Backend Server wird extrem ausgelastet, daher ist diese Methode nicht anwendbar.

• Wie verhält sich die Suche, wenn der Benutzer:innen seine Eingabe sehr schnell mehrfach hintereinander anpasst?
    -> Da kann es zu inkonsistenzen Clientseitig führen, da die Latenz der Antwort variiert.
       Daher kann es sein das der Benutzer als Beispiel 3 Anfragen stellt (3 Buchstaben eingegeben), jedoch
       am Ende, die Antwort zu der ersten Anfrage angezeigt wird, aufgrund einer höheren Latenz.


nr12b)
Wie sollte sich das dargestellte Ergebnisse verhalten, wenn der/die Benutzer:in beim Betrachten der z.B. 5. Seite die Suchfilter verändert?
    -> Dann sollte man zuallerst die Anzahl aller Artikel erfassen, welches auf die Suchfilter zutreffen. Danach erneut die Anzahl der Seiten anpassen
       Als nächstes Offset neu berechnen und als startseite nummer 1 auswählen
-->

</body>
</html>
